.Dashboard {
  margin: auto;
  border: 1px solid black;
  padding: 15px;
  max-height: 60%;
  margin-top: 20px;
  width: fit-content;
}

.summary-container {
  border-radius: 8px;
  display: flex;
  border: 1px solid black;
  padding-top: 20px;
  padding-bottom: 20px;
  justify-content: center;
  text-align: center;
  margin-bottom: 10px;
}

.summary-block {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
}

.border-right {
  border-right: 1px solid black;
}

.border-bottom {
  border-bottom: 1px solid black;
}

.form-control {
  width: -moz-available; /* WebKit-based browsers will ignore this. */
  width: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
  width: fill-available;
  height: 30px;
}

.react-numeric-input {
  width: 50%;
}

.transaction-description {
  width: -moz-available; /* WebKit-based browsers will ignore this. */
  width: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
  width: fill-available;
  height: 38px;
  font-size: 16px;
  padding: 0px 8px;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 4px;
}
